# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Build
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Testing
*.swiftpm

